body,
html {

    height: 100%;
    /* background-color:#f1f1f1; */
}

.bg {

    /* background-image: url("background_image.jpg"); */
    /* background-image: url("blur.jpeg");
    height: 100%;

    background-position: center;
    background-repeat: repeat-x; */
    /* background-size: cover; */
}

.column {
    width: 100%;
    float: left;
}

.nav {

    width: 15%;
}

ul {
    font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    list-style-type: none;
    background-color: #f1f1f1;
    font-weight: bolder;
    width: 200px;
    margin-top: 10%;
    margin-left: 5%;
    padding: 0;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: darkblue;
    color:white;
}

.side {
    width: 25%;
    margin-top: 1.5%;
    background-color: #f1f1f1;
}

.main {
    width: 33%;
    margin: 1.5%;
    padding: 1.0%;
    background-color: #f1f1f1;
}

.education h1{

    color: darkblue;
    font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: bold;
}

.education h2{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin:0px;
}


.row::after {
    display: table;
    clear: both;
}

#ProfilePic {
    margin-left: 25%;
    margin-top: 25%;
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: white solid;
}

#aboutMe {
    font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: center;
    font-weight: bold;
    color: darkblue;
}

.description {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contact-box {

    background-color: darkblue;
    color: white;
    padding: 0.5%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logos a {

    color: black;
}

.logos a:hover {

    color: darkblue;
}

#timeContainer{

    color:white;
    background-color: darkblue;
    text-align: center;
    font-size:xx-large;
}

#date{

    font-size:large;

}